.App {
  position: relative;
  height: 100%;
}

.App-header {
  height: 48px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #98cbf7;
  padding: 8px 16px;
  z-index: 1;
}

.App-logo {
  font-weight: 500;
}

.App-main {
  height: calc(100% - 48px);
  padding: 16px;
  margin-top: 48px;
  position: fixed;
  width: 100%;
  overflow: auto;
}